{% extends 'base/master.html' %}
{% block body %}
    <div>
        <div class="home-btn d-none d-sm-block">
            <a href="{{ url_for('main.index') }}"><i class="mdi mdi-home-variant h2"></i></a>
        </div>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Welcome To {{ app_name }} !</h5>
                                            <p>{{ text }}</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{{ url_for('static',filename='assets/images/profile-img.png') }}"
                                             alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div>
                                    <a href="{{ url_for('auth.login') }}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{{ url_for('static',filename='assets/images/logo.svg') }}"
                                                     alt="" class="rounded-circle"
                                                     height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <div>
                                <p>Don't have an account ?
                                    <a href="{{ url_for('auth.register') }}" class="font-weight-medium text-primary">
                                        Signup now
                                    </a>
                                </p>
                                <p>© {{ datetime.datetime.utcnow().year }} {{ app_fullname }}. Created
                                    by {{ app_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}