{% extends 'app/layout/auth_base.html' %}
{% set text="Register for an account to get started with Ngsapp" %}
{% block content %}
    <vue-form :state="register_form" class="form-horizontal" @submit.prevent="submit">
        <validate>
            <div class="form-group">
                <label for="full_name">Full Name</label>
                <input minlength="5" required name="full_name" v-model="model.full_name" type="text"
                       class="form-control"
                       id="full_name"
                       placeholder="Enter Full Name">
                <field-messages name="full_name" show="$dirty || $touched"
                                class="form-control-feedback text-danger">
                    <div slot="required">Full name is a required field</div>
                    <div slot="minlength">Name must be at least than 5 characters</div>
                </field-messages>
            </div>
        </validate>
        <validate :custom="{'checkMail':checkMail}">
            <div class="form-group">
                <label for="email_address">Email Address</label>
                <input required name="email_address" v-model="model.email_address" type="email" class="form-control"
                       id="email_address" placeholder="Enter Email Address">
                <field-messages name="email_address" show="$dirty || $touched"
                                class="form-control-feedback text-danger">
                    <div slot="required">Email is a required field</div>
                    <div slot="email">Invalid email address</div>
                    <div slot="checkMail">Email Address already exist</div>
                </field-messages>
            </div>
        </validate>
        <validate>
            <div class="form-group">
                <label for="password">Password</label>
                <input pattern="[A-Za-z0-9@#$%^&+=]{8,}" required name="password" v-model="model.password"
                       type="password" class="form-control"
                       id="password"
                       placeholder="Enter password">
                <field-messages name="password" show="$dirty || $touched"
                                class="form-control-feedback text-danger">
                    <div slot="required">Password is a required field</div>
                    <div slot="pattern">Password must have a minimum of eight characters.</div>
                </field-messages>
            </div>
        </validate>
        {#        <pre>[[register_form]]</pre>#}
        <div class="mt-3">
            <button :disabled="register_form.$invalid || processing"
                    class="btn btn-primary btn-block waves-effect waves-light"
                    type="submit">Register
                <span v-if="processing">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
                    </span>
            </button>
        </div>
        <div class="mt-4 text-center">
            <p class="mb-0">By registering you agree to the {{ app_name }} <a href="{{ url_for('main.terms') }}"
                                                                              class="text-primary">Terms of Use</a>
            </p>
        </div>
    </vue-form>
    <script>
        Vue.use(window.VueForm)
        new Vue({
            'el': '#app',

            methods: {
                submit: function () {
                    this.processing = true
                    if (!this.register_form.$invalid) {
                        axios.post("{{ url_for('api.auth_register_resource') }}", this.model).then(({data}) => {
                            Swal.fire({
                                position: 'top-end',
                                title: 'Account Created!',
                                type: "success",
                                text: `${data.message}`,
                                confirmButtonText: 'Ok',
                            }).then(() => {
                                axios.post('{{ url_for("api.auth_login") }}', {
                                    username: this.model.email_address,
                                    password: this.model.password
                                }).then(({data}) => {
                                    if (data.login) {
                                        window.location.href = '{{ url_for("client.dashboard") }}'
                                    }
                                }).catch((error) => {
                                    alert(error)
                                })
                            })
                        }).catch((error) => {
                            Swal.fire({
                                position: 'top-end',
                                title: 'Error!',
                                type: "error",
                                text: `Unable to create your account at the moment`,
                                showConfirmButton: false,
                                timer: 1800
                            })
                        })
                    }
                }, checkMail: function (val) {
                    return new Promise(((resolve, reject) => {
                        axios.post("{{ url_for('api.auth_email_resource') }}", {'email_address': val}).then(({data}) => {
                            resolve(true)
                        }).catch(() => {
                            resolve(false)
                        })
                    }))
                }
            },
            data: {
                processing: false,
                register_form: {},
                model: {
                    full_name: '',
                    email_address: '',
                    password: '',
                }
            }, delimiters: ['[[', ']]']
        })
    </script>
{% endblock %}